/*GÉNÉRALITÉS*/
:root {
  --forum-width: 800px;
  --text: #c7bdbb;
  --humain: #727d4b;
  --sorcier: #7a5c98;
  --vampire: #a15555;
  --red: #65281d; /*couleur des niveaux*/
  --orange: #65411d; /*couleur des niveaux*/
  --green: #53651d; /*couleur des niveaux*/
  --yellow: #655d1d; /*couleur des niveaux*/
  --link: #876a92;
  --link2: #4b3e60;
  --link3: #7b8a87;
  --text-shadow: 0px 0px 4px #0F0A0E; /*text-shadow noir*/
  --light: #7b7673;
  --lighter: #c7bdbb;
  --grey: #121212;
  --greyer: #1c1c1e;
  --black: #0b0b0c;/*couleur fond du forum*/
  --beige: #6c6c6c;/*couleur des border bottom*/
  --background: linear-gradient(180deg, #64528142 10%, #1414147d), url(https://images2.imgbox.com/23/13/enJQZfKT_o.png); /*fond du forum*/
  --background2: #141414; /*fond du cadre de catégories*/
  --background3: url(https://images2.imgbox.com/03/30/5wI2iCiY_o.png); /* -fond catégories */
  --border: 1px solid #353535; /*bordure grise*/
  --border-radius: 10px;
  --border-radius2: 5px;
  --border-radius3: 3px;
  --box-shadow: 0 0 1px #000000, 0 0 12px #0a0a0a inset;
  --font: Open Sans, sans-serif!important;
  --font2: Pirata One;
  --font3: Merriweather;
  --default-font-size: 12px;
  --msg-font-size: 12px;
  --caps-font-size: 10px;
  --gap-size: 12px;
  --ease: cubic-bezier(0.4, 0.0, 0.2, 1);
  --ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
  --box-shadow: 1px 3px 8px 0px #0e0e0ea8;
}
body {
  background: var(--background);
  background-attachment: fixed;
  font: var(--font);
  font-size: var(--default-font-size);
  font-style: normal;
}
a, a:link, a:visited {
  text-decoration: none;
  color: var(--link);
  transition: 0.5s;
  -webkit-transition: 0.5s;
} /*style des liens*/
a:hover {
  text-decoration: none!important;
  color: var(--link3);
}
dsp, dsp2 {
  text-decoration: none;
  color: var(--link);
  font-weight:700;
  letter-spacing:0.5;
}
dsp {
  color: var(--link);
}
dsp2 {
  color: var(--link3);
}
t01, t02, t03 {
  text-decoration: none;
  font-weight : bolder
}
t01 {
  box-shadow: inset 0 -8px 0 #4a3768;
}
t02 {
  box-shadow: inset 0 -8px 0 #3a5651;
}
t03 {
  box-shadow: inset 0 -8px 0 #353535;
}
m01, m02, m03 {font: 10px var(--font);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
m01 {
  color: var(--link);
}
m02 {
  color: var(--link3);
}
i01, i02, i03 {font-style: italic;
  text-shadow: 0px 0px 4px var(--text);
  letter-spacing:2px;
}
i01 {
  color: #ba91ca;
}
i02 {
  color: #94b5b7;
}
tw {background-color: var(--text);
  border-radius: var(--border-radius3);
  color: var(--text);
  padding-left: 2px;
  padding-right: 2px;
  transition: 0.5s;
}
tw:hover {background-color: transparent;
}
faible, moyen, eleve, extreme {
  border-radius: var(--border-radius3);
  font: 10px var(--font)!important;
  color: var(--text);
  font-weight: 600 !important;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding-inline:5px;
}
faible {text-decoration: none;
  background-color: var(--green);
}
moyen {text-decoration: none;
  background-color: var(--yellow);
}
eleve {text-decoration: none;
  background-color: var(--orange);
}
extreme {text-decoration: none;
  background-color: var(--red);
}
select {
  background-color:var(--greyer);
  box-shadow:var(--box-shadow);
  border:var(--border);
  border-radius:var(--border-radius3);
  font: 13px var(--font)!important;
  font: sans-serif!important;
  color: var(--link3);
  text-transform: lowercase;
  text-decoration: none!important;
  text-align: center;
  margin: auto;
}/*menu déroulant*/
input {
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  color: var(--text)!important;
  font: var(--font);
  font-size: 12px;
  font-weight: 600;
  border-radius: var(--border-radius3);
}/*espace d\'écriture*/
input.liteoption {  
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  color: var(--link3)!important;
  font: var(--font);
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
  border-radius: var(--border-radius3);
  padding:3px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}/*bouton d\'option*/
input.liteoption:hover {
  background-color: var(--grey);
  color: var(--link)!important;
}
input.mainoption {
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  color: var(--link3)!important;
  font: var(--font);
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
  border-radius: var(--border-radius3);
  padding:3px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}/*bouton d\'option*/
input.mainoption:hover {
  background-color: var(--grey);
  color: var(--link)!important;
}
table.forumline {
  border: var(--border);
  border-radius: var(--border-radius);
}/*encadré des menus*/
table.user_login_form.forumline {
  border: var(--border);
  border-radius: var(--border-radius);
}/*encadré du menu de connexion*/
td.row1, td.row3.over:hover,
td.row2, td.row1.over:hover,
td.cat, td.catHead, td.catSides, td.catLeft, td.catRight, td.catBottom,
td.row3Right, td.spaceRow {
  background-color: var(--grey);
}
th, .cattitle {
  color: var(--text);
}
.forumline {
  background-color: var(--greyer);
}
hr {
  border: solid var(--greyer) 0;
}
.fb_or {background-color: var(--grey) !important;}
::-moz-selection{
  background-color: var(--link2);
  color: var(--text);
}/*surlignement du texte*/
::selection{
  background-color: var(--link2);
  color: var(--text);
}/*surlignement du texte*/

/*DÉBUT BALISE CODE SPOILER QUOTE HIDE*/
.selectCode { 
  float:right; 
  font: 10px var(--font);
  color:var(--link3);
  font-weight: 700;
  text-transform: uppercase;
  cursor:pointer; 
}
div.cont_code { clear: right; }
.code {
  border:var(--border);
}/*Contenu de CODE*/
.cont_code {
  padding:5px;
  background-color: var(--black);
  border-radius: var(--border-radius2);
  border: var(--border); 
  color: var(--beige); 
  font: var(--default-font-size) var(--font);
  line-height:18px;
}/*Intérieur du contenu de CODE*/
.spoiler {
  border: none;
  background-color: transparent;
}/*Bloc qui contient le titre et le contenu de SPOILER*/
.spoiler > dt {
  color: var(--link);
  font: var(--msg-font-size) var(--font); var(--font);
  font-weight: 600;
}/*Ligne du titre de SPOILER*/
.spoiler_closed {
  background-color: transparent!important;
}/*Contenu de SPOILER fermé*/
.spoiler_content {
  border: var(--border);
  background-color: var(--black);
  border-radius: var(--border-radius2);
  color: var(--beige);
  font: var(--msg-font-size) var(--font);
  line-height: 18px;
  padding:3px;
}/*Contenu de SPOILER ouvert*/
.spoiler > dd:last-child {
  border: none;
}/*Pour éliminer un espace pas rapport sous le spoiler*/
.quote {
  border: var(--border)!important;
  border-radius: var(--border-radius2);
  background-color: var(--black)!important;
  font: var(--msg-font-size) var(--font);
  color:var(--beige);
  line-height: 18px;
  padding: 5px;
}/*Contenu de QUOTE*/
.codebox.hidecode { 
  border: var(--border)!important;
  font: var(--msg-font-size) var(--font);
  line-height: 18px;
  padding: 5px;
}
.codebox dd {
  background-color: var(--greyer);
  color: var(--beige);
  padding: 5px;
}
  
/* Scrollbar */
::-webkit-scrollbar {
width: 4px;
height: 4px;}
  ::-webkit-scrollbar-track-piece  {
background-color: var(--grey);}
::-webkit-scrollbar-thumb:vertical {
  height: 4px;
background-color: var(--link2);}
::-webkit-scrollbar-thumb:horizontal{
height: 4px;
background-color:var(--link2);}

/*FORMULAIRES*/
.fiche-container {
  max-width: 530px;
  margin: 0 auto;
  font: var(--font);
}/*fond de la fiche administrative*/
.fiche-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  max-height:95px;
}/*bloc du header de la fiche*/
.fiche-icon img {
  width: 60px;
  height: 60px;
  -webkit-radius: 100%;
  border-radius:100%;
  margin-left:2px;
  padding:5px;
  border: var(--border);
  outline: 3px solid transparent;
  object-fit: cover;
  background-color: transparent;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.fiche-icon img:hover {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}
.fiche-titrebloc {
  background-color:var(--greyer);
  box-shadow:var(--box-shadow);
  border:var(--border);
  border-radius:var(--border-radius2);
  padding: 10px;
  flex-grow: 1;
  text-align: center;
  max-height: 60px;
}
.fiche-titrebloc h2 {
  margin: 0;
  color: var(--link3);
  font: 15px var(--font);
  text-transform: lowercase;
  font-weight: 600;
}
.fiche-separator {
  height: 0.5px;
  background-color: var(--beige);
  margin: 5px auto;
}
.fiche-quote {
  font-style: italic;
  color: var(--beige);
  margin: 5px 0 0 0;
}
.fiche-bloc {
  background-color:var(--greyer);
  box-shadow:var(--box-shadow);
  border:var(--border);
  border-radius:var(--border-radius2);
  padding: 10px;
}
.fiche-content {
  background-color:var(--greyer);
  box-shadow:var(--box-shadow);
  border:var(--border);
  border-radius:var(--border-radius2);
  padding: 20px;
  line-height: 18px;
  text-align:justify;
  font: var(--msg-font-size) var(--font);
  color: var(--text);
}
.fiche-content h3 {
  margin: 0;
  color: var(--text);
  font: 15px var(--font);
  text-transform: lowercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: italic;
  border-bottom: 0.5px solid var(--beige);
}
.fiche-content a{
  font: var(--msg-font-size) var(--font);
  color: var(--link3);
  font-weight: 600;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.fiche-content a:hover{
  color: var(--text);
  font-style: italic;
}
.fiche-content2 {
  background-color:var(--grey);
  border:var(--border);
  border-radius:var(--border-radius2);
  padding: 20px;
  line-height: 18px;
  text-align:justify;
  font: var(--msg-font-size) var(--font);
  color: var(--text);
  max-height:400px;
  overflow:auto;
}
.fiche-content2 h3 {
  margin: 0;
  color: var(--text);
  font: 15px var(--font);
  text-transform: lowercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: italic;
  border-bottom: 0.5px solid var(--beige);
}
.fiche-content2 a{
  font: var(--msg-font-size) var(--font);
  color: var(--link3);
  font-weight: 600;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.fiche-content2 a:hover{
  color: var(--text);
  font-style: italic;
}
.fiche-tw {
  text-align: center;
  color: var(--beige);
  font-style: italic;
}
.fiche-block {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  background-color:var(--greyer);
  box-shadow:var(--box-shadow);
  border:var(--border);
  border-radius:var(--border-radius2);
  padding: 15px;
}
.fiche-avatar {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: -5px;
}
.fiche-avatar img {
  width: 200px;
  height: 200px;
  -webkit-radius: 100%;
  border-radius:100%;
  padding:5px;
  border: var(--border);
  outline: 3px solid transparent;
  object-fit: cover;
  background-color: transparent;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  transition: 0.5s;
}
.fiche-avatar img:hover {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}
.fiche-list {
  background:var(--grey);
  border:var(--border);
  border-radius:var(--border-radius3);
  flex-grow: 1;
  max-height: 220px;
  overflow: auto;
  padding-right: 10px;
}
.fiche-item {
  padding: 5px 0;
  padding-left:5px;
  border-bottom: 0.5px solid var(--beige);
}
.fiche-item:last-child {
  border-bottom: none;
}
.fiche-list div {
  width:263px;
  padding: 5px 0;
  padding-left:5px;
  border-bottom: 0.5px solid var(--beige);
  color: var(--text);
  text-align:justify;
  font: var(--msg-font-size) var(--font);
}
.fiche-label {
  font-weight: 600;
  margin-right: 10px;
  color: var(--link3);
  text-transform: uppercase;
  font: 11px var(--font);
  letter-spacing:0.5px;
}
label {
  font-weight: 600;
  margin-right: 10px;
  color: var(--link3);
  text-transform: uppercase;
  font: 11px var(--font);
  letter-spacing:0.5px;
}
.fiche-value {
  color: var(--text);
  text-align:justify;
  font:12px var(--font);
}
.fiche-rpgbloc {
  background-color:var(--greyer);
  box-shadow:var(--box-shadow);
  border:var(--border);
  border-radius:var(--border-radius2);
  padding: 5px;
  flex-grow: 1;
  max-height: 65px;
}
.fiche-rpg {
  background-color:var(--grey);
  border:var(--border);
  border-radius:var(--border-radius2);
  padding: 3px;
  text-align: justify;
  max-height: 60px;
  overflow:auto;
}
/* TOOLBAR */
.fa_toolbar_XL_Sized {
  min-width: 500px !important;
} /*met une taille minimum Ã  la toolbar*/
div#fa_toolbar {
  background-color: transparent!important;  /*fond de la toolbar*/
  margin-left: 70%; /*position de la toolbar*/
  width: 32%;  /*modifie la longueur de la toolbar*/
}
div#fa_toolbar div, div#fa_toolbar span {margin: 0 10px;} /*repositionne correctement le contenu de la toolbar*/
#fa_toolbar #fa_icon {display: none!important;} /*supprimer logo forumactif*/
#fa_icon, #fa_toolbar #fa_service {display:none!important;} /*supprimer nom forumactif*/
#fa_search #fa_magnifier {display: none !important;} /*supprimer la loupe de la search bar*/
#fa_search {margin-left:95%; /*positionner la search bar*/
}
#fa_textarea {  
  background-color: var(--greyer)!important; /*couleur du texte dans la search bar*/
  box-shadow: var(--box-shadow); /*mettre de l'ombrage dans la boÃ®te de la search bar*/
}
span#fa_share {display:none!important;} /*supprimer les boutons de partage*/
a#fa_welcome {display:none!important;} /*supprimer le bouton de bienvenue*/
a#fa_hide {display: none!important;} /*supprimer la flÃ¨che de la toolbar*/
a#fa_notifications {position:fixed;left:90%;top:1px;} /*position des notifications*/
#fa_notifications {
  font: var(--font); /*mettre la font*/
  font-color: var(--link); /*couleur du lien*/
  font-weight: 700!important; /*bold*/
  font-size: 13px; /*taille de la police*/
  text-transform: lowercase; /*minuscule*/
  transition: 0.5s!important; /*temps de transition*/
  -webkit-transition: 0.5s!important; /*temps de transition*/
}
#fa_notifications:hover {
  color: var(--link2)!important;
} /*transition de la couleur du lien au survol*/
/* Mise en page bouton "notification" - Au clic */
#fa_menu:hover:visited,
#fa_toolbar > #fa_right.notification > #fa_notifications {
  background:var(--grey)!important;
  color:var(--link2)!important;
}
/* RÃ©fÃ©rence pour la liste des notifications */
#fa_toolbar #fa_right.fa_tbMainElement {
  position:relative;
}
/* Mise en page de la liste des notifications */
#fa_toolbar #fa_right.notification #notif_list {
  top:30px!important;
  right:90px!important;
  left:auto!important;
  max-width:340px;
  min-width:167px;
  border:none!important;
}
/* Mise en page des notifications */
#fa_toolbar #fa_right #notif_list li .content,
#fa_toolbar #fa_right #notif_list li {
  width:auto!important;
  font-size:10px;  
  color:var(--text)!important;
  background-color:var(--grey);
}
/* Taille des blocs textes des points de la liste de notif' */
#notif_list li a.delete {
  background: transparent url(https://i.ibb.co/HFWVQfy/delete.png) no-repeat !important;
}/*Modifier bouton delete*/
#fa_toolbar #fa_right #notif_list li .contentText {
  overflow:visible!important;
  width:310px !important;
  height:auto!important;
  text-decoration: none !important;
}
/* Bloc "notifs non lues" */
.fa_tbMainElement#fa_right a.rightHeaderLink.unread#fa_notifications {
  width:180px;
  /* On supprime 1px Ã  la largeur car la bordure fera 1px d'Ã©paisseur */
  border-left:1px solid var(--grey);
}
#fa_toolbar #fa_right #notif_list li.unread {
  background:var(--grey)!important;
}
/* Mise en page du bloc "voir toutes les notifications" */
#fa_toolbar #fa_right #notif_list li.see_all {
  text-align:center!important;
  background:var(--greyer)!important;
  padding:5px!important;
  font-size:10px!important;
  text-transform: lowercase;
  font-family: var(--font);
}
#fa_toolbar #fa_right #notif_list li.fa_separator { 
  color: var(--link3)!important;
}
#fa_toolbar #fa_right #notif_list li.see_all a{
  color:var(--link3);
  font-weight:700!important;
  text-decoration: none !important;
}
#fa_toolbar #fa_right #notif_list li .contentText a {
  color: var(--link)!important;
  text-decoration: none!important;
  text-transform: lowercase!important;
  font-family: var(--font);
  font-weight: 700!important;
  font-size: 10px;
}
#fa_right a[href$="login"],
#fa_right a[href$="register"] {
    display: none!important;
} /*supprimer connexion et s'enregistrer*/

/* NAVIGATION */
#navigation {position:fixed; z-index: 999; left:0; top:0; width:100%; height:30px;background:var(--grey);} /*fond de la nav*/
.navigation{position:absolute; top:3px; left:40px;} /*position de la nav*/
.navigation a{display: inline;
  text-transform: lowercase;
  font-weight: 700!important; 
  font-size: 12px;
  line-height: 24px;
}
.mainmenu img {display:none;} /*ne pas afficher les images de la nav*/
.mainmenu[href="/faq"]{display:none;} /*ne pas afficher la faq*/
.mainmenu[href="/groups"]{display:none;} /*ne pas afficher les groupes*/
.mainmenu[href="/calendar"]{display:none;} /*ne pas afficher le calendrier*/
.mainmenu[href="/images"]{display:none;} /*ne pas afficher les derniÃ¨res images*/
.mainmenu[href="/search"]{margin-left:-17px;} /*position du rechercher*/
.mainmenu[href="/profile?mode=editprofile"]{margin-left:-5px;} /*position du profil*/
.mainmenu[href="/register"]{margin-left:-9px;color:var(--link3);} /*position du s'enregistrer*/
.player {width: 300px;
  height: 30px;
  background-color: var(--grey);
  font-family: var(--font)!important;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  margin-left: 700px;
} /*mise en forme du music player*/
.controls {display: flex; align-items: center; margin-right: 5px; margin-top:2px;} /*position des controls*/
.controls button {
  background: none;
  border: none;
  color: var(--link2);
  font-size: 14px;
  cursor: pointer;
  padding: 0 3px;
} /*mise en force des controls*/
.song-title {
  color: var(--link);
  text-shadow: var(--text-shadow);
  font-size: 13px;
  font-weight: 700!important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
} /*mise en forme du titre de chanson*/

/*CADRE DU FORUM*/
.bodyline {
  background-color: var(--background2);
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border:none;
}
/*HEADER*/
#i_logo {width: var(--forum-width);
  margin:auto;
  border-radius: var(--border-radius);
  background-image: url('https://images2.imgbox.com/5c/35/HwgU3XIW_o.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
}

#i_logo:hover {
  width: var(--forum-width); /*redimensionne le header*/
  margin:auto;/*positionne le header*/
  border-radius: var(--border-radius); /*arrondir les bordures*/
  background-image: url('https://images2.imgbox.com/c2/d1/im4CoJS7_o.gif');
  transition: background-image 1s ease-in-out;
}

div.maintitle {display:none!important;} /*supprimer le titre du forum*/
span.sitedescription {display:none!important;} /*supprimer le sous-titre du forum*/

/*FLÈCHE HAUT ET BAS*/
.upbottom {
  margin-left : 96%; 
  position:fixed;
  bottom:0px;
}/*position des flèches*/
.up {
  font-size:40px;
  text-shadow:var(--text-shadow);
}/*format et position up*/
.down {
  font-size:40px;
  text-shadow:var(--text-shadow);
}/*format et position down*/

/*LIENS DU FORUM*/
.blocliens_message {
  width: var(--forum-width);
  margin: 5px 0;
  text-align: right;
}
.blocliens_message2 {
  margin: -8px 0 0 0;
  width: var(--forum-width);
  text-align: right;
}
.blocliens_message a,
.blocliens_message2 a {
  color: var(--link);
  font: 12px var(--font);
  font-weight:600;
  text-transform:lowercase;
  text-align: center;
  margin: auto;
  margin-inline: 5px;
}
.blocliens_message a:hover,
.blocliens_message2 a:hover{
  color: var(--link3);
}

/*PAGE D\'ACCUEIL*/
.pa {
  width: var(--forum-width);
  height: 303px;
  margin-bottom: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  display: inline-block;
  padding: 5px 5px 0px 5px;
}
.painfo {
  width: 260px;
  height: 145px;
  display: block;
  margin-bottom: 10px;
}
.info {
  width: 245px;
  height: 55px;
  padding: 5px;
  margin: 0 auto 10px auto;
  display: block;
  background-color: var(--greyer);
  border: var(--border);
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow);
  font-size: var(--default-font-size);
}
.infotxt {
  width: 240px;
  height: 50px;
  overflow: auto;
  text-align: justify;
  font: var(--font);
  font-style: normal;
  line-height: 18px;
  text-transform: none;
  padding: 2px;
}
.paliens {
  width: 265px;
  height: 145px;
  margin: 0 auto 10px auto;
}
.link-container {
  width: 265px;
  height: 145px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.grid-link {
  width: 100%;
  height: calc((145px - 25px) / 6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  font: var(--font);
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 1.2px;
  border-radius: var(--border-radius3);
}
.grid-link:hover {
  background-color: var(--grey);
  color: var(--link3)!important;
}
.pawanted{width:255px;
  height: 145px;
  margin: 0 auto 5px auto;
}
.carousel-container {
    position: relative;
    width: 250px;
    height: 137px;
    overflow: hidden;
    margin: 0 auto;
    margin-left:-1px;
}
.carousel-slides {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-slide {
    min-width: 250px;
    height: 137px;
}
.carousel-slide img {
    width: 250px;
    height: 137px;
    border-radius: var(--border-radius2);
    cursor: pointer;
}
.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: var(--text);
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}
.carousel-prev {
    left: 0;
}
.carousel-next {
    right: 0;
}
.pastaff{width:260px;
  height: 115px;
}
.staff-tabs {
  width: 230px;
  height: 115px;
  padding: 10px;
  box-sizing: border-box;
}
.staff-tabs h2 {
  margin: 0 0 10px;
  text-align: center;
}
.tab-container {
  position: relative;
}
.tab-icons {
  display: flex;
  justify-content: center;
  gap: 8px;  /*ajuster la valeur pour les rapprocher ou les éloigner*/
  margin-bottom: 10px;
}
.tab-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
  padding: 3px;
  border: var(--border);
  outline: 3px solid transparent;
  object-fit: cover;
  background-color: transparent;
  filter: grayscale(100%);
}
.tab-icon.active {
  border: var(--border);
  outline: 3px solid transparent;
  filter: grayscale(0%);
}
.tab-content {
  background-color: var(--greyer);
  height:48px;
  width:245px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-top:3px;
  border: var(--border);
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow);
  font: var(--font);
  color: var(--text);
  font-size: 12px;
  text-transform:lowercase;
  text-align:center;
}
.tab-content a{
  color: var(--text);
  font-size: 12px;
  text-transform:lowercase;
  font-weight:600;
  font-style:italic;
  text-align:center;
}
.tab-content a:hover{
  color: var(--link3);
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
.pacontext{    
  width: 265px;
  height: 124px;
}
.context {
  width: 253px;
  height: 115px;
  padding: 5px;
  margin: 0 auto 10px auto;
  background-color: var(--greyer);
  border: var(--border);
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow);
}
.contexttxt {
  width: 248px;
  height: 110px;
  overflow: auto;
  text-align: justify;
  font-style: normal;
  line-height: 18px;
  text-transform: none;
  padding: 2px;
}
.pavote{width:260px;
  height: 109px;
}
.vote-icons {
  display: flex;
  justify-content: center;
  gap: 8px;  /*ajuster la valeur pour les rapprocher ou les éloigner*/
  margin-bottom: 10px;
}
.vote-icon a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: var(--border);
  outline: 3px solid transparent;
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  font: var(--font);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--link3);
}
.vote-icon a:hover {
  background-color: var(--grey);
  color: var(--link);
}
#vip {
  width:250px;
  padding:3px;
  background-color:var(--greyer);
  box-shadow:var(--box-shadow);
  border:var(--border);
  border-radius:var(--border-radius3);
  font: 10px var(--font) !important;
  color: var(--link);
  letter-spacing: 2px;
  color: var(--link);
  text-transform: uppercase;
  text-decoration: none!important;
  text-align: center;
  margin: 10px auto auto 1px;
  cursor: pointer;
  transition: 0.5s;
}
#vip:hover {
  background-color:var(--grey);
  color:var(--link3);
}
.bouton_vote {
  width:250px;
  height:20px;
  margin-top:7px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.bouton_vote div{
  width:120px;
  height:21px;
  background-color:var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius3);
  text-align:center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.bouton_vote div:hover {
  background-color: var(--grey);
}
.bouton_vote a{
  text-decoration:none;
  color: var(--link);
  font: var(--font);
  text-transform: lowercase;
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align:center;
  padding-top: 5px;
  line-height: 20px;
}
.bouton_vote a:hover {
  color: var(--link3)!important;
}

/*CATÉGORIES*/
.fondcatégoz{
  width: var(--forum-width);
  background: var(--background3);
  background-position: center;
  height: 65px;
  border-radius: var(--border-radius2);
  border: var(--border);
}
.catégoz h2 {
  font: 32px var(--font2);
  color: #6c6c6c;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 #2e1244;
  margin-top: 15px;
  text-transform: uppercase;
}
.modifcat {
  margin-top:5px;
}
.cate_row_bg, .cate_right_top, .lastpost_bloc {display:flex;}
.cate_right, .lastpost_topic {display:flex;flex-direction: column;}
.cate_row_bg {
  background: var(--grey);
  border: var(--border);
  border-radius: var(--border-radius3);
  margin: 3px 0 5px 0;
  padding: 10px 0 5px 0;
  width: var(--forum-width);
  display: flex;
  align-items: center;
}
.cate_right {
  width: 680px;
}
.cate_right_top {
  height: 93px;
}
.lastpost_topic {
  justify-content: center;
  width: 125px;
}
.image_cate {
  padding: 5px;
  margin: -5px 3px 0 5px;
}
.image_cate img{
  width: 80px; 
  height: 80px; 
  border-radius:100%;
  padding:5px;
  border: var(--border);
  outline: 3px solid transparent;
  object-fit: cover;
  background-color: transparent;
}/*image du forum*/
.descrip_bloc1 {
  width: 355px; 
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius2);
  border: var(--border);
  padding: 5px; 
} /*le style des descriptions*/
.forumtitre {
  height: 18px;
  margin: 0px 0px 0px 5px;
  background-color: var(--greyer);
  border-bottom: var(--border);
  padding-bottom: 2px;
}/*fond titre de forum*/
.forumtitre a {
  color: #7b5f8b;
  text-shadow: 1px 1px 1px #141414;
  font: 15px var(--font);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transition-duration:0.5s;
  -webkit-transition-timing-function:ease-in;
/* Bientôt supporté par Firefox */
  -moz-transition-duration:0.5s;
  -moz-transition-timing-function:ease-in;
/* … et lorsque ce sera standardisé */ 
  transition-duration:0.5s; 
  transition-timing-function:ease-in;
}/*style du titre de forum*/
.forumtitre a:hover {
  color:var(--link2); 
}/*transition du style de forum*/
.descr_texte {
  overflow: auto;
  text-align: justify;
  line-height: 18px;
  text-transform: none;
  height: 54px; 
  padding: 5px;
}/*texte de la description*/
.descr_texte img{
  position: absolute;
  width: 90px;
  height: 90px;
  margin-left: 355px;
  margin-top: -30px;
  object-fit: cover;
  border-radius: var(--border-radius2);
  transition: 0.5s;
  filter: grayscale(1);
}/*image de description du forum*/
.descr_texte img:hover{
  filter: grayscale(0);
}/*image de description du forum*/
.descrimg{ 
  width: 96px; 
  height: 91px;
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius2);
  border: var(--border);
  margin: 0 5px;
}/*bloc de l\'image*/
.sousforums {
  height: 20px;
  margin-top: 6px;
}/*mise en place des sous-forums*/
.lienssousforums {
  line-height: 20px;
  display: flex;
  gap: 3px;
}/*position des liens sous forums*/
.sousforums a{
  color: #7a7a7a;
  font: var(--caps-font-size) var(--font);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border: var(--border);
  padding: 2px 10px;
  border-radius: var(--border-radius2);
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
/* Bientôt supporté par Firefox */
  -moz-transition-duration:0.5s;
  -moz-transition-timing-function:ease-in;
/* … et lorsque ce sera standardisé */ 
  transition-duration:0.5s; 
  transition-timing-function:ease-in;
}/*style des liens*/
.sousforums a:hover {
  color:var(--link3);
  background-color: var(--grey);
}/*transition du style de forum*/
.lastpost_bloc {
  width: 220px;
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius2);
  border: var(--border);
  display: flex;
  justify-content: space-evenly;
}
.lastpost_avatar {
  display: flex;
  align-items: center;
}
.lastpost_avatar img {
  width: 60px;
  height: 60px;
  border-radius:100%;
  padding:3px;
  border: var(--border);
  object-fit: cover;
  background-color: transparent;
  filter: grayscale(1);
}
.forumdesc1 {
  text-align: center;  
  font-size: var(--caps-font-size);
  width: 125px;
  text-transform: lowercase;
}
.forumdesc1>span>a {
  white-space: nowrap;
  overflow: hidden;
}
.forumdesc1 a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--caps-font-size);
  letter-spacing: 1.2px;
}
.forumdesc1 strong {
  text-transform: lowercase;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.5px;
}
.cattopic{ 
  margin: 5px 4px 0;
  padding-top: 5px;
  border-top: 0.5px solid var(--beige);
  text-align:center;
  font-size:10px;
  text-transform: lowercase;
}/*stats dernier message*/
.bascat {
  position: relative;
  width: 450px;
  border-bottom: 0.5px solid var(--beige);
  padding:5px;
}/*code qui permet la barre en dessous des catégories*/

/*QEEL*/
.qeel {
  height: 250px;
  margin: auto;
  border: var(--border);
  border-radius: var(--border-radius);
  display: inline-block;
  padding: 5px;
}
.qeelcopyright{
  width: 260px;
  height: 145px;
  display: block;
  margin-bottom: 10px;
}
.copyright {
  width: 245px;
  height: 55px;
  padding: 5px;
  margin: 0 auto 10px auto;
  display: block;
  background-color: var(--greyer);
  border: var(--border);
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow);
}
.copyrighttxt {
  width: 240px;
  height: 50px;
  overflow: auto;
  text-align: justify;
  font-style: normal;
  line-height: 18px;
  text-transform: none;
  padding: 2px;
}
.qeelgroup {
  width: 260px;
  height: 120px;
}
.qeel-content-wrapper {
  width: 247px;
  height: 130px;
  background-color: var(--greyer);
  border: var(--border);
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow);
  overflow: auto;
  text-align: justify;
  line-height: 18px;
  padding: 5px;
  margin-top: -34px;
}
.qeel-content-wrapper img{
  width: 245px;
  height: 60px;
  border-radius: 3px 3px 0 0;
  object-fit: cover;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  opacity:0.5;
  transition: opacity 0.5s ease-in-out;
}
.qeel-content-wrapper img:hover{
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  opacity:1;
}
.qeel-tab-nav {
  display: flex;
  flex-direction: column;
  width: 258px;
  gap: 5px;
  margin-top:5px;
}
.qeel-tab-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  padding: 3px;
  background-color: var(--greyer);
  border: var(--border);
  border-radius: var(--border-radius3);
  box-shadow: var(--box-shadow);
  color: var(--link3);
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--caps-font-size);
  letter-spacing: 1.5px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.qeel-tab-btn:hover{
  background-color: var(--grey);
  cursor: pointer;
}
.qeel-tab-content {
  display: none;
  height: 100%;
}
.qeel-tab-content.qeel-active {
  display: block;
}
.human {
  color: var(--humain)!important;
} 
.witch {
  color: var(--sorcier)!important;
} 
.vampire {
  color: var(--vampire)!important;
} 
.qeeldernier{width:260px;
  height: 80px;
  margin-top:-50px;
}
#avatar_dernier_membre img{
  width: 65px;
  height: 65px;
  -webkit-radius: 100%;
  border-radius:100%;
  padding:3px;
  border: var(--border);
  outline: 3px solid transparent;
  object-fit: cover;
  background-color: transparent;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}/*avatar du dernier inscrit*/
.info_dernier {
  text-align:center;
  margin-left:20px;
}
.info_dernier strong {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.qeelnow{width:243px;
  height: 125px;
}
.blocnow {
  width:243px;
  height: 130px;
  background-color: var(--greyer);
  border: var(--border);
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow);
  text-align:justify;
  padding: 5px;
  margin-top:-30px;
  overflow:auto;
}
.blocnow a {
  font: var(--font); 
  color: var(--link3);
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 600;
  font-size: var(--default-font-size);
  letter-spacing: 0.5px;
}
.blocnow strong{
  font: var(--font); 
  text-decoration: none; 
  text-transform: lowercase;
  font-weight: 600;
  font-size: var(--default-font-size);
  letter-spacing: 0.5px;
}
#totaluser {
  font-size: var(--default-font-size) !important;
}
.gensmall {
  font-size: var(--default-font-size);
}
.genmed {
  color: var(--link);
}
#lastco{
  overflow: auto;
  text-align: justify;
  font-size: 10px;
}
.qeelliens{width:253px;
  height: 120px;
}
.qeel24{width:253px;
  height: 75px;
}
.blocpast {
  width:243px;
  height: 75px;
  background-color: var(--greyer);
  border: var(--border);
  border-radius: var(--border-radius2);
  box-shadow: var(--box-shadow);
  text-align:justify;
  padding: 5px 7px 6px 3px;
  margin-top:-70px;
}
.blocpast a {
  font: var(--font); 
  color: var(--link3);
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0px;
}
.blocpast strong{
  font: var(--font); 
  text-decoration: none; 
  text-transform: lowercase;
  font-weight: 600;
  font-size: var(--default-font-size);
  letter-spacing: 0.5px;
}
#pastuser{
  background-color: transparent;
  margin-top:-3px;
  overflow: auto;
  position: absolute;
  width:245px;
  height:75px;
  text-align: justify;
  font-size: 10px;
}
.pastuser .row1 {
background-color : transparent;
}

/*LISTE DES SUJETS*/
.newtopic {
  font-family: var(--font2);
  font-size: 25px;
  text-transform: lowercase;
  padding:3px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.newtopic a{
  color: var(--link3)!important;
}
.newtopic:hover {
  background-color: var(--grey);
  color: var(--link);
}
.newtopic a:hover{
  color: var(--link)!important;
}
/*## Fil d\'Ariane ##*/
.nav {
  font-weight:600;
}
#filariane {
  border: var(--border);
  border-radius: var(--border-radius3);
  padding: 5px;
  color: var(--link3);
  margin-left: 10px;
}
#filariane a{
  font-size:12px;
  font-family: var(--font);
  font-weight:600;
  text-transform:lowercase;
}
.d_headerList{
  width: var(--forum-width);
  height:5px;
}
.d_topicsList{
  width: var(--forum-width);
  padding: 10px 0;
  margin: 5px 0;
  border-radius: var(--border-radius2);
  background-color: var(--grey);
  display: flex;
  gap: 5px;
}
.d_topicsList .TLicon {
  margin: 0 2px;
}
.d_topicsList .TLicon img{
  width: 50px;
  height: 50px;
  border-radius:100%;
  padding:5px;
  border: var(--border);
  outline: 3px solid transparent;
  object-fit: cover;
  background-color: transparent;
}/*image du sujet*/
.d_topicsList>div{
  display:inline-block;
  vertical-align:middle;
}
.d_topicsList .TLtitle{ 
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titredescr{ 
  height: 32px;
  width: -webkit-fill-available;
  text-align:justify;
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius3);
  padding: 3px 6px;
  margin-bottom: 4px;
  overflow: auto;
}
#topicType { 
  font: var(--font);
  color: var(--text);
  font-size: var(--caps-font-size);
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
}
.TLtitle a{ 
  text-align:justify;
  font: var(--font);
  color: var(--link3);
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
  overflow:hidden;
}
.TLtitle a:hover {
  color:var(--link2); 
}
.TLauthor {
  width: -webkit-fill-available;
  height:20px;
  text-align:justify;
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius3);
  font: var(--font);
  color: var(--beige);
  font-size: 11px;
  text-transform: lowercase;
  padding-left:3px;
}
.author {
  padding-bottom:1px;
}
.d_topicsList .TLreplies{
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius3);
  padding:3px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.d_topicsList .TLreplies2{
  height:15px;
  width:80px;
  font: 11px var(--font);
  color: var(--beige);
  border-bottom: 0.5px solid var(--beige);
  padding: 3px 0px;
}
.d_topicsList .TLviews{ 
  height:15px;
  width:80px;
  font: 11px var(--font);
  color: var(--beige);
  padding:2px;
}
.d_topicsList .TLlastPost{ 
  width: 190px; 
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius3);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.TLlastpost-avatar {
padding: 2px;
}
.TLlastpost-avatar img {
  width: 40px;
  height: 40px;
  -webkit-radius: 100%;
  border-radius:100%;
  padding:3px;
  border: var(--border);
  outline: 3px solid transparent;
  object-fit: cover;
  background-color: transparent;
  filter: grayscale(1);
}/*avatar du dernier inscrit*/
.TLlastPost strong{  
  font-size: 12px;
  margin-top:1px;
  font-weight: 700 !important;
}
.TLlastPost a{  
  color: var(--link3);
}
#topicimg {
  margin-top:1px;
}
.author{margin-left:2px;}
/*Mise en forme du pseudo des membres*/
.d_topicsList .TLauthor strong, .d_topicsList .TLauthor TLlastPost .TLauthor TLlastPost strong{
  font-size: 10px;
  text-align: center;
  font-weight: 700 !important;
  letter-spacing: 0.5px;}
/*Mise en forme des descriptions de topic*/
.d_topicsList .TLtitle .topicDesc{
  font: 11px var(--font);
  color: var(--beige);
  text-transform: lowercase;
}
/*Mise en forme du bloc \'dernier message\' */
.baslist {
  position: relative;
  width: 250px;
  border-bottom: 0.5px solid var(--beige);
  margin-top:7px;
}/*code qui permet la barre en dessous des catégories*/
.postdetails{
  text-transform:lowercase;
  color: var(--beige);
  text-align: center;
}
#participation{
  margin-left: -4px;
  margin-top:-1px;}
/*Cas où il n\'y a pas de sujet dans la liste*/
.d_topicsList .noTopic{
  font-size: 12px;}

/*AFFICHAGE DES SUJETS*/
.btnnewreply {
  float:left;
  display: block;
}
.btnbassujet {
  float:right;
  display: block;
}
.btnnewtopic {
  font-family: var(--font2);
  font-size: 25px;
  text-transform: lowercase;
  padding:3px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}/*bouton nouveau*/
.btnnewtopic a{
  color: var(--link3)!important;
}/*couleur du lien*/
.btnnewtopic:hover {
  background-color: var(--grey);
  color: var(--link);
}/*bouton nouveau*/
.btnnewtopic a:hover{
  color: var(--link)!important;
}/*couleur du lien survol*/
.btnreplytopic {
  font-family: var(--font2);
  font-size: 25px;
  text-transform: lowercase;
  padding:3px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  margin-left:2px;
}/*bouton répondre*/
.btnreplytopic a{
  color: var(--link3)!important;
}/*couleur du lien*/
.btnreplytopic:hover {
  background-color: var(--grey);
  color: var(--link);
}/*bouton répondre*/
.btnreplytopic a:hover{
  color: var(--link)!important;
}/*couleur du lien survol*/
.surveiller {
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  font: var(--font);
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
  border-radius: var(--border-radius3);
  padding:3px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}/*bouton surveiller*/
.surveiller a{
  color: var(--link3)!important;
}/*couleur du lien*/
.surveiller:hover {
  background-color: var(--grey);
  color: var(--link);
}/*bouton surveiller*/
.surveiller a:hover{
  color: var(--link)!important;
}/*couleur du lien survol*/
#fil_ariane {
  width: 710px;
  border: var(--border);
  border-radius: var(--border-radius3);
  padding:3px;
  color: var(--link3);
  margin-top:5px;
}
#fil_ariane a{
  font-size:12px;
  font-family: var(--font);
  font-weight:600;
  text-transform:lowercase;
}
#fil_ariane2 {
  width: var(--forum-width);
  border: var(--border);
  border-radius: var(--border-radius3);
  padding:3px;
  color: var(--link3);
  margin-top:-10px;
}
#fil_ariane2 a{
  font-size:12px;
  font-family: var(--font);
  font-weight:600;
  text-transform:lowercase;
}
.pagination_as img {
  display: none;
}
.pagination_as {
  float: right;
  font: var(--font);
  color: var(--link3);
  font: 10px var(--font);
  font-weight: 700;
  text-transform:lowercase;
}
.titresujet{
  width: var(--forum-width);
  min-height: 50px;
  border-radius: var(--border-radius2);
  border: var(--border);
  position : relative ;
  margin:5px auto;
  background: var(--background3) center center;
  background-position: center center;
  display: flex;
}
/*fond titre sujet*/
.titresujet h1 {
  font:28px var(--font2);
  color:var(--beige);
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  margin:auto;
  padding-top:3px;
  text-align:center;
}/*le style des titres des catégories*/
table.fondsujet {
  background: var(--grey);
  border: var(--border);
  width: var(--forum-width);
  margin: auto;
  border-radius: var(--border-radius2);
  font: 11px var(--font);
}/*cadre du fond de sujet*/
.date {
  margin: 5px 5px 12px;
  background-color:var(--greyer);
  box-shadow:var(--box-shadow);
  border:var(--border);
  border-radius:var(--border-radius3);
  text-transform: uppercase;
  font: 9px var(--font);
  font-weight: 600;
  color: var(--beige);
  text-decoration: none!important;
  text-align: center;
  padding: 5px;
}
.positionprofil {
  display: block;
  width: 235px;
  text-align: center;
  padding-left:5px;
  margin-top:-5px;
}
.cadreprofil {
  background: var(--background);
  border-radius: var(--border-radius2);
  padding: 12px 0;
  width: 234px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profilpseudo, .profilrang {
  width:210px;
  background: var(--grey);
  border-radius: var(--border-radius3);
  color: var(--beige);
  text-align:center;
  box-shadow: var(--box-shadow);
  border: var(--border);
}
.profilpseudo {
  margin-bottom: 8px;
  height:35px;
}
.profilrang {
  height:18px;
}
.profilpseudo strong{
  text-transform: lowercase;
  font: 14px var(--font);
  font-weight:bold;
}
.profilavatar {
  background: var(--grey);
  border-radius: var(--border-radius3);
  margin:8px 0;
  width: 210px;
  height: 330px;
  position: relative;
  display:block;
  box-shadow: var(--box-shadow);
  border: var(--border);
}
.profilavatar img {
  margin-top:5px;
  opacity: 1;
  border-radius: var(--border-radius3);
  transition: opacity 0.3s ease;
}
.btncontact {
  width: 190px;
  padding:10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  row-gap: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.btncontact a {height:18px; line-height: 18px !important;}
.profilavatar:hover .btncontact {
  opacity: 1;
  z-index: 2;
}
.profilavatar:hover img {
  opacity: 0.5;
}
.profilcontent {
  background: var(--grey);
  border-radius: var(--border-radius3);
  width: 210px;
  height: 330px;
  overflow:auto;
  box-shadow: var(--box-shadow);
  border: var(--border);
}
.profilinside {
  width:200px;
  height:320px;
  overflow:auto;
  text-align: justify;
  color: var(--beige);
  margin: 5px auto; 
}
.profilonline {
  text-align:center;
  color:var(--text);
  font: 12px var(--font);
  text-transform: lowercase;
  font-weight:600;
}
.profilinside .label{
  font: var(--font);
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
  color: var(--link3);
}
.profilinside div {
  border-bottom: 0.5px #2f2e2a solid;
}
.profilinside div img {
  box-shadow: 0px 0px 6px #000000;
  max-width:100%;
  border-radius: 3px;
}
.btnadmin {
  display: flex;
  justify-content: space-between;
}
.btnadmin-right {
  margin-top: -2px;
}
.postbody {
  padding:5px;
  margin-top: -15px;
}
.postbody .fa_like_div {
    margin-top: 0px !important;
}
.fa_like_list {
  background-color: var(--greyer); 
  color: var(--beige);
  font: 11px var(--font);
}
.fa_like_list a {
  color: var(--text);
  font: 11px var(--font);
  font-weight: 600;
  text-transform: lowercase;
  text-decoration:none;
}
.fa_like, .fa_liked, .btnadmin span a,
.btncontact a {
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  font: var(--font);
  color: var(--link);
  font-size: var(--caps-font-size);
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: var(--border-radius3);
  padding: 0px 8px;
  cursor: pointer;
  margin-top:-1px;
  transition: 0.5s;
}
.fa_like:hover, .fa_liked:hover, .btnadmin span a:hover,
.btncontact a:hover {
  background-color: var(--black);
}
.btnadmin-right a {
  padding: 2px 8px!important;
}
.rep-nb {
  border-left: 1px solid var(--beige);
} 
.content_message {
  text-align: justify;
  font: var(--msg-font-size) var(--font);
  line-height: 18px;
  padding:10px;
  margin-top:-15px;
}
.signature {
  max-width:500px;
  color:var(--beige);
}
form#quick_reply {
  margin: 2% 0;
}
#sceditor_smilies {
  background-color: var(--grey)!important;
}
#sceditor_smilies table {
  background-color: var(--greyer)!important;
}
.sceditor-group {
  background:none!important;
  border:none!important;
}
#parent_editor_simple textarea {
  color:var(--text)!important;
}
#quick_reply textarea {
  color:var(--text)!important;
}
.sceditor-container {
  border:var(--border)!important;
}
.sceditor-container {
  width: 98% !important;
  margin: 10px auto !important;
  background: var(--grey)!important;
}
.sceditor-toolbar {
  background: var(--grey)!important;
  border-bottom: 0.5px solid var(--beige)!important;
}
a.sceditor-button {
  background: var(--greyer)!important;
  box-shadow: var(--box-shadow);
  border-radius: 2px !important;
  border:none!important;
}
a.sceditor-button:hover {
  background: var(--grey)!important;
}
a.sceditor-button.active {
  background: var(--grey)!important;
}
.sceditor-container textarea, .sceditor-container iframe{
  padding: 5px !important;
  background: var(--grey)!important;
}
.word-counter{
  text-align: left;
  font: 11px var(--font);
  font-weight: 600;
  color: var(--beige);
  text-transform: lowercase;
  padding: 5px;
}

/*MEMBERLIST*/
.memberlist {
  width: var(--forum-width);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-left: 10px;
  padding-top: 10px;
  border: 0;
}
.membercard {
  width:250px;
  background-color: var(--greyer);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font: 10px var(--font);
  color: var(--beige)!important;
  margin: 6px;
  float:left;
}
.membercardav img {
  width: 80px;
  height: 80px;
  -webkit-radius: 100%;
  border-radius:100%;
  margin-left:2px;
  padding:5px;
  border: var(--border);
  outline: 3px solid transparent;
  object-fit: cover;
  background-color: transparent;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.membercardav img:hover {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}
td.infomembercard {
  width: 137px;
}
div.infomembercard {
  height:75px;
  text-align:justify;
  background-color: var(--grey);
  border: var(--border);
  border-radius: var(--border-radius2);
  padding:5px;
}
.pseudomembercard {
  width:120px;
  border-bottom: var(--border);
  font: var(--msg-font-size) var(--font); 
  font-weight: 700; 
  text-transform: lowercase;
  text-decoration: none; 
  margin-top:-3px;
  margin-left: 3px;
  text-align: center;
}/*style des pseudo*/
.infomemberlist {
  margin-top:-9px;
}
.postmembercard {
  text-align:center;
  font: 10px var(--font);
}

/*LISTE DES MESSAGES PRIVÉS*/
.boutonmp {
  width:580px;
  border: var(--border);
  border-radius: var(--border-radius);
  margin-top:5px;
  margin-left:0px;
  padding-left:15px;
  font: var(--msg-font-size) var(--font);
  text-transform: lowercase;
  font-weight: 600; 
}
.boutonmp img{
  display:none!important;
}
.boutonmp a{
  color: var(--link3);
  font: var(--msg-font-size) var(--font);
  text-transform: lowercase;
  font-weight: 600; 
  -webkit-transition-duration:0.5s;
  -webkit-transition-timing-function:ease-in;
/* Bientôt supporté par Firefox */
  -moz-transition-duration:0.5s;
  -moz-transition-timing-function:ease-in;
/* … et lorsque ce sera standardisé */ 
  transition-duration:0.5s; 
  transition-timing-function:ease-in;
}/*style du titre de forum*/
.boutonmp a:hover{
  color:var(--link);
}
.boxmp {
  width:150px;
  height:35px;
  border: var(--border);
  border-radius: var(--border-radius3);
  font: 10px var(--font);
  text-transform: lowercase;
  font-weight: 600; 
  text-align:center;
  padding-top:5px;
  margin-top:5px;
  margin-left:10px;
}
.btnmpnew {
  font-family: var(--font2);
  font-size: 25px;
  text-transform: lowercase;
  padding:3px;
  margin-left:-7px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}/*bouton nouveau*/
.btnmpnew a{
  color: var(--link3)!important;
}/*couleur du lien*/
.btnmpnew:hover {
  background-color: var(--grey);
  color: var(--link);
}/*bouton nouveau*/
.btnmpnew a:hover{
  color: var(--link)!important;
}/*couleur du lien survol*/
.fondmplist {
  width:780px;
  float:right;
}
.d_headermpList{
  width: var(--forum-width);
  height:5px;
  border-top: var(--border);
  border-radius: 10px 10px 0 0;
}
.d_mpList{
  width: 790px;
  padding-top:10px;
  padding-bottom:0px;
  border-right: var(--border);
  border-left: var(--border);
  font: 11px (var--font);
  text-align:center;
  padding: 5px 5px;
}/*On place correctement les blocs de la liste des sujets*/
.d_mpList>div{
  display:inline-block;
  vertical-align:middle;
}
.d_mpList .mpicon img{ 
  width: 40px;
  height: 40px;
  border-radius:100%;
  margin-left:0px;
  padding:5px;
  border: var(--border);
  outline: 3px solid transparent;
  object-fit: cover;
  background-color: transparent;
}/*image du sujet*/
.d_mpList .mptitle{ 
  width: 480px; 
  height: 42px;
  margin-left:15px; 
  text-align:justify;
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius3);
  padding:3px;
}
.mptopictitle a{ 
  border-bottom: 0.5px solid var(--beige);
  font: var(--font);
  color: var(--link3);
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
  overflow:hidden;
}
.mptopictitle a:hover {
  color:var(--link2); 
}
.d_mpList .mpauthor{ 
  font: 12px var(--font);
  color: var(--beige);
  padding-left:5px;
}
.mpauthor strong{ 
  font: var(--font);
  font-weight: 600;
  text-transform: lowercase;
}
.d_mpList .mpdate{ 
  width: 150px; 
  height: 33px;
  margin-left:20px;
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius3);
  font: 12px var(--font);
  color: var(--beige);
  text-transform: lowercase;
  padding-top:15px;
  font-weight: 600; 
  text-align:center;
}
.basmp {
  position: relative;
  width: 250px;
  border-bottom: 0.5px solid var(--beige);
  margin-top:3px;
  padding-bottom:4px;
}/*code qui permet la barre en dessous des mp*/
.basmpList {
  width:790px;
  border-top: 0.5px solid var(--beige);
  margin:auto;
}
.navmp {
  font: 11px var(--font);
  font-weight: 600;
  text-transform: lowercase;
}

/*MESSAGE PRIVÉ*/
.btnmpreply {
  font-family: var(--font2);
  font-size: 25px;
  text-transform: lowercase;
  padding:3px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}/*bouton reply*/
.btnmpreply a{
  color: var(--link3)!important;
}/*couleur du lien*/
.btnmpreply:hover {
  background-color: var(--grey);
  color: var(--link);
}/*bouton reply*/
.btnmpreply a:hover{
  color: var(--link)!important;
}/*couleur du lien survol*/
.mpfond {
  width:790px;
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius);
  margin:auto;
  padding:5px;
}
.mptopic {
  width:780px;
  border-radius: var(--border-radius2);
  background-color: var(--grey);
  border: var(--border);
  padding:1px;
  text-align:center;
  font: 24px var(--font2);
  text-transform: lowercase;
  color: var(--beige);
}
.avmp img{
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius:100%;
  -webkit-radius: 100%;
  padding:10px;
  border: var(--border);
  outline: 3px solid transparent;
  background-color: transparent;
}
.avname {
  width:220px;
  padding:1px;
  position:center;
  font: 12px var(--font);
  text-transform: lowercase;
  font-weight: 600; 
  text-align:center;
}
.contentmp {
  display:inline-block; 
  vertical-align:top; 
  margin-right:10px;
  border: var(--border);
  border-radius: var(--border-radius2);
  width:535px;
  min-height: 170px;
  padding:5px 10px 10px; 
  overflow:auto; 
  text-align: justify;
  font-size:11px;
  line-height: 18px;
  background:var(--grey); 
  color:var(--text); 
}
.btnmpquote a{
  color: var(--link3)!important;
  font: var(--font);
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
}/*couleur du lien*/
.btnmpquote a:hover{
  color: var(--link)!important;
}/*couleur du lien survol*/
.btnmpedit a{
  color: var(--link3)!important;
  font: var(--font);
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
}/*couleur du lien*/
.btnmpedit a:hover{
  color: var(--link)!important;
}/*couleur du lien survol*/
.mppostbody {
  text-align: justify;
  font-size:13px;
  background:var(--grey); 
  color:var(--text); 
  font-style: normal;
  line-height: 18px;
  text-transform: none;
}
.timedatemp img{
  display: none!important;
}
.timedatemp {
  font: 11px var(--font);
}

/*ÉDITER PROFIL*/
.labeleditprofile {
  font: 12px var(--font);
  text-transform: lowercase;
  font-weight: 600!important; 
  color: var(--link3)!important;
}
/*PROFIL*/
.fondprofil {
  width:790px;
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius);
  margin:auto;
  padding:5px;
}
.fondprofil a{
  font: 12px var(--font);
  color: var(--text);
  text-transform: lowercase;
  font-weight: 600; 
}
.fonduser {
  width:780px;
  border-radius: var(--border-radius2);
  background-color: var(--grey);
  border: var(--border);
  padding:1px;
  text-align:center;
  font: 28px var(--font2);
  text-transform: lowercase;
}
.avprofil img{
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius:100%;
  -webkit-radius: 100%;
  padding:10px;
  border: var(--border);
  outline: 3px solid transparent;
  background-color: transparent;
}
.rgprofil {
  width:220px;
  padding:1px;
  position:center;
  font: 12px var(--font);
  text-transform: lowercase;
  font-weight: 600; 
  text-align:center;
}
#ligneprofil {
  font: 12px var(--font);
  text-transform: lowercase;
  font-weight: 600; 
}
.pfctext {
  padding-top:5px;
  padding-bottom:5px;
  color: var(--greyer);
}
.contactprofil {
  display:inline-block; 
  vertical-align:top;
}
.contactprofil a{
  background-color: var(--grey);
  margin:0 1px; 
  border: var(--border);
  font: var(--font);
  font-size: 12px;
  color: var(--link)!important;
  font-weight: 600;
  text-transform: lowercase;
  border-radius: var(--border-radius3);
  padding:3px 5px 3px 5px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}/*bouton contact*/
.contactprofil a:hover {
  background-color: var(--greyer);
  box-shadow: var(--box-shadow);
  color: var(--link3)!important;
}/*bouton contact*/
.infoprofil {
  display:inline-block; 
  vertical-align:top; 
  margin-right:10px;
  border: var(--border);
  border-radius: var(--border-radius2);
  width:535px;
  height:170px; 
  padding:5px 10px 10px; 
  overflow:auto; 
  text-align: justify;
  font-size:11px;
  background:var(--grey); 
  color:var(--text); 
}
.infoprofil div {
padding:3px 0 0;
}
.infoprofil .field_uneditable {
display:inline-block;
}
.infoprofil div span {
  font: 12px var(--font);
  color: var(--link3)!important;
  text-transform: lowercase;
  font-weight: 600; 
}
.infoprofil img{
  max-width:400px;
}
.basprofil {
  padding:0 0 5px !important;
  border-bottom:0.5px solid var(--beige);
}