			<!-- BEGIN switch_user_logged_in -->
<br><div class="blocliens_message">
  <a id="lastvisit_posts" class="gensmall" href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a> <dsp2>†</dsp2> <a id="posts_unanswered" class="gensmall" href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a> <dsp2>†</dsp2> <a id="mark_read" href="{U_MARK_READ}" class="gensmall">{L_MARK_FORUMS_READ}</a><!-- END switch_user_logged_in --> 
</div>
<!-- BEGIN catrow -->
  <!-- BEGIN tablehead -->
  <div class="fondcatégoz">
    <div class="catégoz" align="center">{catrow.tablehead.L_FORUM}</div>
  </div>
<table class="modifcat" width="100%" border="0" cellspacing="0" cellpadding="0">
   <!-- END tablehead -->
   <!-- BEGIN cathead -->
 <tr>	<!-- BEGIN cathead -->
	<!-- END cathead -->
          <!-- END cathead -->
 <!-- BEGIN forumrow -->
       <!-- BEGIN inc -->
<td class="{catrow.forumrow.inc.INC_CLASS}" width="46"><img src="{SPACER}" height="0" width="46" alt="." /></td>
            <!-- END inc -->
<td class="cate_row"> <!-- category row -->
  <div class="cate_row_bg">
  <div class="image_cate">
    <img title="{catrow.forumrow.L_FORUM_FOLDER_ALT}" src="{catrow.forumrow.FORUM_FOLDER_IMG}" alt="{catrow.forumrow.L_FORUM_FOLDER_ALT}" />  
  </div>
  <div class="cate_right">
    <div class="cate_right_top">
      <div class="descrip_bloc1">
        <div class="forumtitre">
          <a href="{catrow.forumrow.U_VIEWFORUM}">{catrow.forumrow.FORUM_NAME}</a>
        </div>
      <div class="descr_texte">{catrow.forumrow.FORUM_DESC}</div>
    </div>

    <div class="descrimg"></div>

<div class="lastpost_bloc">
    <!-- BEGIN avatar --> 
    <div class="lastpost_avatar">{catrow.forumrow.avatar.LAST_POST_AVATAR}</div>
    <!-- END avatar -->
     <div class="lastpost_topic">
        <div  class="forumdesc1">{catrow.forumrow.LAST_POST}</div>
        <div class="cattopic">{catrow.forumrow.TOPICS} Sujets <dsp2>†</dsp2> {catrow.forumrow.POSTS} Messages</div>
      </div>
</div>
  </div>
<div class="sousforums"><div class="lienssousforums">{catrow.forumrow.L_LINKS}{catrow.forumrow.LINKS}</div></div>
</div> 
</div><!-- end category row -->
</td></tr>
                <!-- END forumrow -->
   <!-- BEGIN catfoot -->
   <tr>
      <!-- BEGIN inc -->
      <td class="{catrow.catfoot.inc.INC_CLASS}" width="46"><img src="{SPACER}" height="0" width="46" /></td>
      <!-- END inc -->
      <td class="spaceRow" colspan="{catrow.catfoot.INC_SPAN}" height="1"><img src="{SPACER}" alt="" height="1" width="1" /></td>
   </tr>
   <!-- END catfoot -->
   <!-- BEGIN tablefoot -->
 </table><img src="{SPACER}" alt="" height="5" width="1" /><!-- END tablefoot --><!-- END catrow -->
<br/>

<!-- Modifications des textes de lien trop long -->
<script type="text/javascript">document.getElementById('lastvisit_posts').innerHTML=document.getElementById ('lastvisit_posts').innerHTML.replace(/Voir les nouveaux messages depuis votre dernière visite/,"Nouveaux messages");</script>
<script type="text/javascript">document.getElementById('posts_unanswered').innerHTML=document.getElementById ('posts_unanswered').innerHTML.replace(/Voir les messages sans réponses/,"Messages sans réponses");</script>
<script type="text/javascript">document.getElementById('mark_read').innerHTML=document.getElementById ('mark_read').innerHTML.replace(/Marquer tous les forums comme lus/,"Tout marquer comme lu");</script>
<script type="text/javascript">document.getElementById('cookies').innerHTML=document.getElementById ('cookies').innerHTML.replace(/Supprimer les cookies du forum/,"Supprimer les cookies");</script>
