<!-- BEGIN switch_inline_mode -->
		<!-- END switch_inline_mode -->
			<table class="mpfond" width="100%" border="0" cellspacing="1" cellpadding="0">

				<!-- BEGIN postrow -->
				<tr>
                                  <td class="{postrow.ROW_CLASS}{postrow.CURRENT_MSG}" valign="top" width="22%"><br /><div class="avmp">{postrow.POSTER_AVATAR}</div><div class="avname"><b>{postrow.POSTER_NAME}</b></div></td>
					<td class="{postrow.ROW_CLASS}{postrow.CURRENT_MSG}" valign="top" height="28">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="100%"><div class="timedatemp"><img src="{ICON_TIME}" alt="" border="0" />{postrow.POST_DATE}<span class="gen">&nbsp;</span>&nbsp;&nbsp;&nbsp;<img title="{postrow.L_MINI_POST_ALT}" src="{postrow.MINI_POST_IMG}" alt="" border="0" />{L_POST_SUBJECT}: {postrow.POST_SUBJECT}</div></td>
							</tr>
							<tr>
								<td colspan="2"><hr /></td>
							</tr>
							<tr>
								<td colspan="2"><div class="contentmp">{postrow.MESSAGE}</div></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="spaceRow" colspan="2" height="1"><img src="https://2img.net/i/empty.gif" alt="" height="1" width="1" /></td>
				</tr>
				<!-- END postrow -->
			</table>
			<!-- BEGIN switch_inline_mode -->
<div class="pagination gensmall">
	{PM_PAGINATION}
</div>
<!-- END switch_inline_mode -->